* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hwb(210 93% 3%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "t-1 t-1 t-2 t-5"
    "t-3 t-4 t-4 t-5";
  /* padding: 25rem; */
  padding: 6rem;
}
.div-1 {
  display: flex;
  flex-direction: column;
  background-color: #7541c8;
  grid-area: t-1;
  padding: 24px 32px;
  border-radius: 8px;
  gap: 10px;
}
.div-2 {
  background-color: hsl(217, 19%, 35%);
  grid-area: t-2;
  padding: 24px 32px;
  border-radius: 8px;
  gap: 20px;
}
.div-3 {
  background-color: hsl(0, 0%, 100%);
  grid-area: t-3;
  padding: 24px 32px;
  border-radius: 8px;
}
.div-4 {
  background-color: hsl(219, 29%, 14%);
  color: aliceblue;
  grid-area: t-4;
  padding: 24px 32px;
  border-radius: 8px;
}
.aside-5 {
  /* background-color: hsl(0, 0%, 100%); */
  grid-area: t-5;
  background-color: hsl(0, 0%, 100%);
  padding: 24px 32px;
  border-radius: 8px;
}
.img-all > img {
  border-radius: 100%;
  width: 40px;
}
.top {
  display: flex;
  flex-direction: column;
}
.top2 {
  display: flex;
  gap: 20px;
  font-size: 10px;

  /* justify-content: space-between; */
}
.top > p {
  color: hsl(0, 0%, 81%);
}
.top > h2 {
  color: white;
}
.p-1 {
  color: white;
  font-size: 20px;
}
.p-2 {
  color: hsl(217, 19%, 35%);
  font-size: 20px;
}
.color-p {
  color: hsl(0, 2%, 61%);
}
.top-3 > p {
  color: hsl(0, 0%, 81%);
}
.top-3 > h2 {
  color: hsl(217, 19%, 35%);
}
.end {
  color: hsl(0, 2%, 61%);
}
.p-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
